<?xml version="1.0"?>
<config>
    <modules>
        <Nextorder_Guesttoreg>
            <version>0.1.0</version>
        </Nextorder_Guesttoreg>
    </modules>
    <global>
        <helpers>
            <guesttoreg>
                <class>Nextorder_Guesttoreg_Helper</class>
            </guesttoreg>
        </helpers>
        <blocks>
            <guesttoreg>
                <class>Nextorder_Guesttoreg_Block</class>
            </guesttoreg>
        </blocks>
        <models>
            <guesttoreg>
                <class>Nextorder_Guesttoreg_Model</class>
            </guesttoreg>
        </models>
        <events>
            <!--<checkout_submit_all_after>-->
                <!--<observers>-->
                    <!--<guesttoreg_event_for_order_assign>-->
                        <!--<type>singleton</type>-->
                        <!--<class>guesttoreg/observer</class>-->
                        <!--<method>_afterOrderSaved</method>-->
                    <!--</guesttoreg_event_for_order_assign>-->
                <!--</observers>-->
            <!--</checkout_submit_all_after>-->
        </events>

    </global>

    <frontend>
        <routers>
            <guesttoreg>
                <use>standard</use>
                <args>
                    <module>Nextorder_Guesttoreg</module>
                    <frontName>guesttoreg</frontName>
                </args>
            </guesttoreg>
        </routers>
        <!--<layout>-->
            <!--<updates>-->
                <!--<guesttoreg module="Nextorder_Guesttoreg">-->
                <!--</guesttoreg>-->
            <!--</updates>-->
        <!--</layout>-->

    </frontend>

    <admin>
        <routers>
            <adminhtml>
                <!--<use>admin</use>-->
                <args>
                    <modules>
                        <guesttoreg before="Mage_Adminhtml">Nextorder_Guesttoreg_Adminhtml</guesttoreg>
                    </modules>
                    <!--<module before="Mage_Adminhtml">Nextorder_Guesttoreg_Adminhtml</module>-->
                    <!--<frontName>guesttoregadmin</frontName>-->
                </args>
            </adminhtml>
        </routers>
    </admin>

    <adminhtml>
        <layout>
            <updates>
                <guesttoreg>
                    <file>nextorder_guesttoreg.xml</file>
                </guesttoreg>
            </updates>
        </layout>
    </adminhtml>

    <crontab>
        <jobs>
            <Customer_Check_From_GuestOrder>
                <schedule>
                    <cron_expr>*/20 * * * *</cron_expr>
                </schedule>
                <run>
                    <model>guesttoreg/Cron::_getCustomerOrders</model>
                </run>
            </Customer_Check_From_GuestOrder>

            <!--<customer_check_from_guest>-->
                <!--<schedule>-->
                    <!--<cron_expr>*/20 * * * *</cron_expr>-->
                <!--</schedule>-->
                <!--<run>-->
                    <!--<model>guesttoreg/Verdacht::_verdachtExcel</model>-->
                <!--</run>-->
            <!--</customer_check_from_guest>-->
        </jobs>
    </crontab>

    <!--<admin>-->
        <!--<routers>-->
            <!--<refundadmin>-->
                <!--<use>admin</use>-->
                <!--<args>-->
                    <!--<module>Nextorder_Refundbanking</module>-->
                    <!--<frontName>refundadmin</frontName>-->
                <!--</args>-->
            <!--</refundadmin>-->
        <!--</routers>-->
    <!--</admin>-->



</config>






